body {
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
  width: 100% !important;
  font-size: 14px;
}

.font-light{
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

@media (max-width: 767px) {
  .logotipo {
    max-height: 70px;
  }

}
